<h1>Exemplos de Pipes</h1>

<p>Nome: {{ console.nome | uppercase | lowercase | camelCase }}</p>
<p>Data de Lançamento: {{ console.dataLancamento | date }}</p>
<p>Preço: {{ console.preco | currency:'BRL':true }}</p>
<p>Fabricante: {{ console.fabricante }}</p>
<p>Site: {{ console.url }}</p>
<p>Vendas Totais: {{ console.vendas }}</p>
<br>
<p>Console: {{ console | json }}</p>

<br>
<h1>Lista de Livros</h1>

<input type="text" [(ngModel)]="filtro">

<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adicionar Curso</button>

<h1>Pipe Puro</h1>

<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro">{{ liv }}</li>
</ul>

<br>

<h1>Pipe Impuro</h1>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">{{ liv }}</li>
</ul>

<br>

<h1>Maneira correta de usar filtros nos projetos</h1>

<ul>
    <li *ngFor="let liv of obterCursos()">{{ liv }}</li>
</ul>

<br>

<h1>Pipe Async</h1>

<p>{{ valorAsync | async }}</p>

<p>{{ valorAsync2 | async }}</p>