<div>
    <div class="mb-3">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" id="customFileLabel" (change)="onChange($event)" multiple>
    </div>
</div>

<div class="progress mb-3">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'">{{ progress }}%</div>
</div>

<div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
    </div>
</div>
<div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">Download Excel</button>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">Download PDF</button>
    </div>
</div>