<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório!">
        </app-campo-control-erro>
    </div>

    <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório!">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="verificarEmailInvalido()" msgErro="Email inválido!">
        </app-campo-control-erro>
    </div>

    <div class="row g-3">
        <div class="col-md-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" formControlName="cep">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('cep')" msgErro="CEP é obrigatório!">
            </app-campo-control-erro>
        </div>
        <div class="col-md-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" formControlName="numero">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('numero')" msgErro="Número é obrigatório!">
            </app-campo-control-erro>
        </div>
        <div class="col-md-6">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento">
        </div>
        <div class="col-md-12">
            <label for="rua" class="form-label">Rua</label>
            <input type="text" class="form-control" id="rua" formControlName="rua">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('rua')" msgErro="Rua é obrigatório!">
            </app-campo-control-erro>
        </div>
        <div class="col-md-5">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('bairro')" msgErro="Bairro é obrigatório!">
            </app-campo-control-erro>
        </div>
        <div class="col-md-4">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" formControlName="cidade">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('cidade')" msgErro="Cidade é obrigatório!">
            </app-campo-control-erro>
        </div>
        <div class="col-md-3">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('estado')" msgErro="Estado é obrigatório!">
            </app-campo-control-erro>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary" (click)="resetar()">Cancelar</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>