<section class="property-binding">
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e curto o curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}"> <!-- interpolação -->
        <img [src]="urlImagem"> <!-- property binding -->
        <img bind-src="urlImagem">
    </article>
</section>